language: php
php:
  - '5.3'
  - '5.4'
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - 'hhvm'
  - 'nightly'

script: vendor/bin/phpunit --configuration ./build/travis-ci.xml

before_script:
  - composer install
